.active {
    margin: 0;
    color: red;
    font-size: 30px;
    transition: color 1s;
}

.invisible {
    color: transparent;
    /* transition: color 1s; */
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textContainer {
    height: 40px;
}