* {
  box-sizing: border-box;
}

.timerWrapper {
  margin: 0 auto;
  max-width: 400px;
  background-color: rgb(146, 191, 241);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

